/* BLUE color style */

.aside .logo a::before{
    border-top: 4px  solid #2196f3;
    border-left: 4px solid #2196f3; 
}
.aside .logo a::after{
    border-bottom: 4px  solid #2196f3;
    border-right: 4px solid #2196f3;
}

.aside .nav li a:hover,
.aside .nav li a.active,
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover,
.about .about-content .about-text h3 span,
body.dark .Portfolio .portfolio-filter button.active,
.Portfolio .portfolio-filter button.active,
.Portfolio .portfolio-item .portfolio-info .icon .fa,
.lightbox .lightbox-controls .next-item .fa,
.lightbox .lightbox-controls .prev-item .fa,
.Contact .contact-info-item .icon .fa
{
    color: #2196f3;
}

.btn,
.section-tittle h2::before,
.section-tittle h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a,
.about .about-content .skills .skill-item .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot
{
    background-color: #2196f3;
}

.Portfolio .portfolio-filter button.active{
    border-color: #2196f3;
}